services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - CF_API_EMAIL={{ cloudflare_api_email }}
      - CF_DNS_API_TOKEN={{ cloudflare_api_token }}
    ports:
      - "80:80"
      - "443:443"
      # - "8080:8080" # You can open this for testing, but it's better to keep it closed and access via the domain
    command:
      - "--configFile=/traefik.yml"
      - "--log.level=DEBUG"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - ./acme.json:/acme.json
      - ./dynamic_conf.yml:/dynamic_conf.yml:ro
    networks:
      - traefik_net
    labels:
      - "traefik.enable=true"
      # Router for Dashboard (HTTPS)
      - "traefik.http.routers.dashboard.rule=Host(`{{ traefik_dashboard_domain }}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.dashboard.middlewares=admin-basic-auth@file"

  tunnel:
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN={{ cloudflare_tunnel_token }}
    networks:
      - traefik_net

networks:
  traefik_net:
    name: traefik_net
    external: true
